/* .conatiner{
  background-color: rgb(194, 246, 246);
  height: 100vh;
  width: 100vw;
  position: relative;
  bottom: 5.2vh;
  margin: 0;
  padding: 0;
  z-index: 200;
} */

.contact-container{
  /* background-color: rgb(194, 246, 246); */
  /* height: full; */
  /* z-index: 100; */
  width: 100vw;
  height: 100vh;
  position: relative;
  bottom: 4vh;
  /* bottom: 6.5vh; */
  /* margin: 10vh; */
  /* position: relative;
  bottom: 1vw; */
}
.contact{
  justify-content: center;
  position: relative;
  top: 15vh;
  /* background-color: rgba(244, 221, 221, 0.893); */
  box-shadow: 0px 0px 10px;
  height: 75vh;
  width: 60vw;
  margin-left: 20%;
}
.contact h1{
  font-size: 3rem;
  font-weight: 700;
  margin-top: 6%;
  text-align: center;
  color: rgb(73, 73, 239);
}
.name{
  border: 1px solid rgb(213, 244, 234);
  margin-left: 12%;
  height: 8vh;
  width: 25vw;
  box-shadow: 0px 0px 10px rgb(103, 200, 200);
  background-color: rgb(219, 246, 223);
  display: flex;
  margin-top: 1%;
  /* justify-content: center; */
  padding-top: 1%;
  border-radius: 40px;
}
.name i{
  margin-left: 15%;
  margin-top: 5%;
  color: blue;
}
.name1{
  margin-left:5%;
  margin-top: 2%;
  margin-bottom: 3%;
  position: relative;
  bottom: 15%;
  height: 5vh;
  width: 35vw;
  margin-top: 3%;
  box-shadow: inset;
  padding: 3%;
  border: none;
  background-color: rgb(219, 246, 223);
  font-size: 25px;
  font-weight: 400;
  border-radius: 20px;
}
.email{
  border: 1px solid rgb(213, 244, 234);
  margin-left: 12%;
  height: 9vh;
  width: 25vw;
  box-shadow: 0px 0px 10px rgb(103, 200, 200);
  background-color: rgb(219, 246, 223);
  display: flex;
  margin-top: 4%;
  border-radius: 40px;
}

.email i{
  margin-left: 8%;
  margin-top: 7%;
  color: blue;
}
.email1{
  margin-left: 5%;
  height: 5vh;
  width: 40vw;
  margin-top: 3%;
  box-shadow: inset;
  padding: 3%;
  border: none;
  background-color: rgb(219, 246, 223);
  font-size: 25px;
  font-weight: 400;
  border-radius: 20px;
}
.email i{
  margin-top: 7%;
}
.message{
  border: 1px solid rgb(213, 244, 234);
  width: 48vh;
  height: 15vh;
  margin-left: 12%;
  box-shadow: 0px 0px 10px rgb(103, 200, 200);
  background-color: rgb(219, 246, 223);
  margin-top: 4%;
  padding: 3%;
  border: 2px solid yellow;
  font-size: 2rem;
  color: rgb(237, 157, 7);
  font-weight: 200;
  border-radius: 60px;
}
.sendmessage{
  height: 3rem;
  width:9rem;
  border: 2px solid rgb(73, 185, 230);
  background-color: aqua;
  margin-right: 8%;
  margin-top: 10%;
  margin-left: 6%;
  position: relative;
  right: 35%;
  top: 10%;
  font-size: 15px;
  border-radius: 20px;
}
.image{
 height: 45vh;
 width: 25vw;
 border-radius: 40vh;
 position: relative;
 left: 64vh;
 bottom: 45vh;
 background-image: url("https://img.freepik.com/free-photo/young-person-during-intership_23-2149315590.jpg");
 background-size: cover;
}
@media only screen and (max-width: 768px) {
  .contact-container {
    width: 100vw;
    height: 100vh;
  }
  
  .contact {
    width: 80vw;
    margin-left: 10%;
  }
  .contact h1{
    font-size: 30px;
   position: relative;
   right: 3vh;
  }
  .name,
  .email {
    width: 30vw;
    height: 8vh;
  }

  .name1,
  .email1 {
    width: 20vw;
  }

  .message {
    width: 38vw;
    height: 10vh;
    font-size: 2vh;
  }

  .sendmessage {
    width: 40vw;
    margin-left: 56%;
    font-size: 12px;
  }

  .image {
    width: 30vw;
    height: 30vh;
    left: 50vw;
    bottom: 35vh;
  }
}

